a{
    padding:10px;
    color:dimgray;
    display: inline;
}

section{
    width: 790px;
    background-color: white;
    padding:16px;
    margin-top: 16px;
    font-style: normal;
    border-style: solid;

}

aside{
    background-color: red;
    width:570px;
    float:right;
    bottom:100px;
    font-style: normal;
    border-style: solid;

}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    font-color:white;
    font-family: cursive;
}